
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
main{
    background-image: url(assests/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height:70vh;
    position: relative;

}
main .box{
    height:70vh;
    width:100%;
    opacity: 0.69;
    position:absolute;
    top: 0;
    background-color: black;
}
nav{
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}
nav img{
    color:red;
    width:114px;
    position:relative;
    z-index: 10;
}
nav button{
    position:relative;
    z-index: 10;
}
.hero{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: "Martel Sans", sans-serif;
    padding: 30px;
    gap: 23px;
   /*font-weight: 600;
    font-style: normal;*/
}
.hero> :nth-child(1){  
    font-family:'Poppins';
    font-weight: bolder;
    font-size: 48px;
    text-align:center
}
.hero> :nth-child(2){
    font-style: 400;
    font-size: 24px;
    text-align:center
}
.hero> :nth-child(3){
    font-style: 400;
    font-size: 20px;
    text-align:center
    }

.seperation{
    width:200vw;
    height: 5px;
    background-color: rgb(53, 49, 49);
}
.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
}
.btn-red{
background-color: red;
color: white;
padding: 3px 24px;
font-size: 20px;
border-radius: 4px;
}
.main input{
padding: 7px 101px 8px 14px;
font-size: 20px;
font-weight: 900;
border-radius: 4px;
background-color: rgba(23, 23, 23, 0.2);
}
.btn-red-sm{
background-color: red;
color: white;
}